body {
    margin: 0;
    padding: 0;
    width: 980px;
    height: 643px;
    background-color: #dcdcdc;
}

/**
top bar
*/
div.top_bar {
    width: 100%;
    height: 7%;

    position: relative;

    background-color: #474747;
}

div.top_bar.back_btn {
    width: 11%;
    height: 76%;

    position: relative;
    top: 18%;
    left: 4%;

    text-align: left;
    background: url("../img/back_btn.png") no-repeat ;
    background-size: 90% 90%;
    display: inline-block;
}
div.top_bar span.s1 {
    font: 21px/30px "微软雅黑";
    color: #5c5c5c;
    position: relative;
    left: 26%;
}
div.top_bar span.s2 {
    font: 21px/30px "微软雅黑";
    color: #5c5c5c;
    position: relative;
    left: 34%;
}

div.main_body.chart_with_players_panel {
    width: 97.6%;
    height: 91%;
    margin: 0;
    padding: 0.6% 1.2%;

    background-color: #dcdcdc;
}

/**
chart with players panel
*/
div.players_panel {
    width: 100%;
    height: 20%;
    margin: 0;
    padding: 0;

    background-color: white;
}

div.chart_area {
    width: 100%;
    height: 78%;

    position: relative;
    top: 1%;
}

div.chart_area div#chart_container {
    width: 100%;
    height: 98%;

    position: relative;
    top: 1%;
}

img.players_panel.before_btn {
    position: relative;
    top: 30%;
    left: 3%;
    float: left;
}

div.players_panel.before_btn_line {
    height: 80%;
    width: 2px;
    margin: 0;
    padding: 0;

    position: relative;
    top: 10%;
    left: 3.5%;
    float: left;

    background-color: #e9e9e9;
    display: inline-block;
}

img.players_panel.after_btn {
    position: relative;
    top: 30%;
    right: 3%;
    float: right;
}

div.players_panel.after_btn_line {
    height: 80%;
    width: 2px;
    margin: 0;
    padding: 0;

    position: relative;
    float: right;
    top: 10%;
    right: 5.8%;

    background-color: #e9e9e9;
    display: inline-block;
}

ul.players_list {
    padding: 0;
    margin: 0;
    top: 6px;
    left: 43px;

    position: relative;

    list-style: none;
    display: inline-block;
}

.players_list li {
    float: left;
}

.players_list li img.player_avatar {
    width: 102px;
    height: 106px;
    margin-left: 30px;
}

div.player_name {
    width: 102px;
    height: 30px;

    position: relative;
    top: -29px;
    left: 30px;

    background: url("../img/black_bg.png") repeat-x;
}

.player_name span {
    position: absolute;
    top: 6px;
    left: 10px;

    clear: both;
    color: white;
}

.player_name img.player_avatar.player_selected {
    width: 18px;
    height: 18px;
    border: 0;

    position: absolute;
    top: 4px;
    left: 51px;

    clear: both;
    color: white;
}

/**
configure players
*/
div.main_body.config_players {
    width: 97.6%;
    height: 91%;
    margin: 0;
    padding: 0.6% 1.2%;

    background-color: #dcdcdc;
}

div.players_name_list {
    width: 33%;
    height: 100%;

    position: relative;

    float: left;
    background-color: white;
    box-shadow: 2px 0 5px #888888;
}

div.player_detail {
    width: 65.5%;
    height: 100%;

    position: relative;
    left: 1.5%;

    float: left;
    background-color: white;
}

ul.names_list {
    width: 90%;
    height: 96%;
    padding: 0;
    margin: 0;

    position: relative;
    left: 5%;
    top: 2%;

    list-style: none;
    display: inline-block;

    /*border: solid 2px red;*/
}

.names_list li {
    width: 100%;
    height: 48px;

    /*border: solid 1px blue;*/
}

div.names_list.name {
    width: 95%;

    position: relative;
    left: 2.5%;
}

.names_list li span.name {
    position: relative;
    top: 3px;

    font-size: 16px;
}

hr.divider_of_names_list {
    width: 100%;

    position: relative;
    top: 20%;

    border: 1px dashed #c1c1c1;
}

div.add_player_btn {
    width: 50%;
    height: 40px;
    margin: 0;

    position: relative;
    top: 2px;
    left: 25%;
}

div.player_detail img.player_avatar {
    width: 24%;
    height: 34%;

    position: relative;
    top: 10px;
    left: 38%;

    border: 2px solid #b8b7b7;
}

div.player_detail div.edit_player_detail_btn {
    width: 110px;
    height: 20px;

    float: right;
    position: relative;
    top: 12px;
    right: 5px;
}

div.player_detail div.btn_edit_finish {
    width: 88px;
    height: 38px;

    position: relative;
    float: right;
    top: 24px;
    right: 38px;

    background-color: #474747;
    text-align: center;
}

div.player_detail div.btn_edit_finish span {
    color: #efefef;
    font: 18px/41px "微软雅黑";
}

div.player_detail div.player_avatar.edit {
    width: 24%;
    height: 34%;

    position: relative;
    top: 64px;
    left: 38%;

    border: 2px solid #b8b7b7;
}

div.change_avatar_hint {
    width: 100%;
    height: 27px;

    position: relative;
    top: -29px;

    background: url("../img/black_bg.png") repeat-x;
    text-align: center;
}

div.change_avatar_hint span {
    color: #efefef;
    font: 18px/31px "微软雅黑";
}

table.player_detail {
    width: 582px;

    position: relative;
    top: 40px;
    left: 29px;
}

table.player_detail tr td.attr {
     text-align: left;
}

table.player_detail tr td.value {
    text-align: right;
}

table.player_detail tr td.attr span {
    position: relative;
    left: 28px;
}

table.player_detail tr td.value span {
    position: relative;
    right: 28px;
}

table.player_detail tr td span {
    color: #efefef;
    font:18px/44px "微软雅黑";
}

table.player_detail tr.table_header {
    background-color: #0388b5;
}

table.player_detail tr.table_body {
    background-color: #5d5c5c;
}

table.player_detail tr td {
    border: 1px solid #b8b7b7;
}

table.player_detail.edit {
    width: 582px;

    position: relative;
    top: 86px;
    left: 29px;
}

table.player_detail.edit tr td.attr {
    width: 80px;

    text-align: right;
}

table.player_detail.edit tr td.value {
    text-align: left;
}

table.player_detail.edit tr td.attr span {
    color: black;
    font-weight: bold;
}

table.player_detail.edit tr td.value input {
    width: 80%;

    position: relative;
    left: 15%;
    font: 18px/28px "微软雅黑";
}

table.player_detail.edit tr td span {
    color: #efefef;
    font:18px/44px "微软雅黑";
}

table.player_detail.edit tr td {
    border: 0;
}

div.main_body.chart_with_players_panel table.real_time_players {
    width: 100%;
    min-height: 100%;
    height: auto;
    position: relative;

    padding: 0;
    margin-bottom: 0.6%;

    display: block;

    background-color: #ffffff;
}

table.real_time_players tr td div.player_avatar {
    width: 128px;
    height: 160px;
    margin-left: 42px;
    margin-top: 20px;
}

table.real_time_players tr td div.player_avatar img {
    width: 100%;
    height: 100%;
}

table.real_time_players tr td div.player_avatar div.player_name {
    width: 128px;
    height: 30px;

    position: relative;
    top: -29px;
    left: 0;

    background: url("../img/black_bg.png") repeat-x;
}

table.real_time_players tr td p {
    margin-left: 42px;
    margin-top: 7px;
}

div.main_body.chart_with_players_panel table.compare_players_table {
    width: 90%;
    left: 5%;
    top: 5%;
    bottom: 5%;
    height: auto;
    position: relative;

    padding: 0;
    margin-bottom: 0.6%;

    display: block;
    border: 2px solid #a0a0a0;

    background-color: #ffffff;
}

div.main_body.chart_with_players_panel div.table_area {
    width: 100%;
    min-height: 78%;
    height: auto;

    position: relative;
    top: 1%;

    padding-top: 1%;
    padding-bottom: 1%;

    background-color: #ffffff;
}

div.main_body.chart_with_players_panel table.compare_players_table tr.table_header {
    width: 100%;
    height: 69px;

    background: url("../img/black_bg.png") repeat;
}

div.main_body.chart_with_players_panel table.compare_players_table tr td {
    width: 12.5%;
    height: 69px;

    text-align: center;
}

div.main_body.chart_with_players_panel table.compare_players_table tr.table_header td span {
    color: white;
}

div.main_body.chart_with_players_panel table.compare_players_table tr.table_value td.odd {
    background-color: #c3c3c3;
}

div.main_body.chart_with_players_panel table.compare_players_table tr.table_value td.even {
    background-color: #ececec;
}
